.short-link-page {
    .sl-top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;

        .sl-top-left {
            display: flex;
            align-items: center;
        }

        .stl-label {
            width: 120px;
        }
    }

    .pagination-wrap {
        display: flex;
        justify-content: flex-end;
        padding-top: 20px;
    }

    .tips {
        margin-bottom: 20px;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 0 5px #eee;
    }
}