body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.account-name {
  color: #fff;
  border-radius: 5px;
  font-size: 12px;
  margin: 10px;
  background-color: rgba(0, 0, 255, .6);
  padding: 5px;
  transform: scale(0.8);
  display: inline-block;
}